/* show elements */
.apply-animation {
    transition: opacity 1.5s ease-out, transform 2s ease-out, filter 1.5s ease-out;
    will-change: opacity, transform, filter;
}

.apply-animation.is-visible {
    opacity: 1;
    transform: none;
    filter: blur(0);
}

.fade-animation {
    transform: translateY(30px);
    opacity: 0;
}

.blur-animation {
    filter: blur(12px);
}

.slide-animation {
    transform: translateX(-50px);
}

/* LOADING SCREEN */
@keyframes spin {
    100% { transform: rotate(360deg); }
}

/* HEADER */
/* glowing animation */
header h1, 
header h2, 
.scroll-indicator {
    z-index: 2; 
}

header::before,
header::after {
    content: "";
    position: absolute;
    width: max(30vw, 400px);
    aspect-ratio: 1;
    border-radius: 50%;
    filter: blur(195px);
    z-index: 1;
    animation: breathingEffect 2s infinite alternate ease-in-out;
    will-change: transform, opacity;
}

header::before {
    background-color: rgb(255, 60, 219);
    opacity: 0.28;
    top: -13%;
    left: -13%;
}
header::after {
    background-color: rgb(87, 230, 255);
    opacity: 0.2;
    bottom: -15%;
    right: -15%;
    animation-delay: 1.2s; 
}

@keyframes breathingEffect {
    0% { transform: scale(1); }
    100% { transform: scale(1.3); opacity: 0.33;}
}

/* arrow animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* ABOUT SECTION */
/* #about section background animation */
@keyframes slideBackground {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(var(--bg-width) / sin(105deg)));
    }
}

/* SKILLS SECTION */
/* background animation */
@keyframes skillsGradientMove {
    0%, 100% { transform: translate(0); }
    50% { transform: translate(-25%, -15%); }
}

/* elements animation */
#skills ul li:hover {
    transform: scale(1.05);
    box-shadow:
        0 10px 35px rgba(0, 0, 0, 0.2),
        0 0 25px rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.45);

    /* disable mouse */
    cursor: default;
}

/* PROJECTS SECTION */
.project-overlay a:hover {
    background-color: #3a3335df;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* hover effects */
/* blur project details */
#projects ul li:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

#projects ul li:hover .project-content:not(.coming-soon-project) {
    filter: blur(4px);
}

#projects ul li:hover .project-overlay {
    opacity: 1;
    pointer-events: auto;
}

/* FOOTER */
/* animated background */
@keyframes loop {
    0%   { transform: translate(0%, 0%) rotate(0deg); }
    25%  { transform: translate(40%, 20%) rotate(90deg); }
    50%  { transform: translate(60%, -10%) rotate(180deg); }
    75%  { transform: translate(20%, -30%) rotate(270deg); }
    100% { transform: translate(0%, 0%) rotate(360deg); }
}

/* hover effects */
.footer-links a:hover {
    background-color: #ffffff;
}

.footer-links li:nth-child(1) a:hover { color: #ff0000; cursor: text; }
.footer-links li:nth-child(2) a:hover { color: #0a66c2; }
.footer-links li:nth-child(3) a:hover { color: #000000; }