/* global settings */
* {
    box-sizing: border-box;
}

/* prevent text selection */
img, header, .projects-container ul li, .footer-bottom p {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ and Edge */
  user-select: none;         /* Standard syntax */
}

/* prevent image dragging */
img {
  -webkit-user-drag: none;    /* Prevents dragging the image */
  pointer-events: none;       /* Makes the image invisible to mouse clicks */
}

/* PAGE BEHAVIOUR */
html, body {
    /* min-height: 100vh; */
    width: 100%;
    margin: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans Display", sans-serif;
    font-size: 1.2rem;
}

p {
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

h1 {
    font-size: 5rem;
    padding: 0rem 1.5rem;
    color: #ffffff;
    text-shadow:
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 20px rgba(255, 255, 255, 0.4)
    ;
}

h2 {
    font-size: 3.5rem;
    padding: 0rem 1.5rem;
    color: #FFB535;
        text-shadow:
        0 0 10px rgba(255, 181, 53, 0.6),
        0 0 20px rgba(255, 181, 53, 0.4)
    ;
}

h3 {font-size: 3.2rem;}

h4 {font-size: 1.5rem;}

h3, h4 {
    font-family: "SN Pro", sans-serif;
}

/* LOADING SCREEN */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #071013;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: opacity 1s ease, visibility 1s ease;
}

#loader.hidden {
  opacity: 0;
  visibility: hidden;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid #ffffff;
  border-top: 10px solid #FFB535;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* HEADER */
header {
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* size */
    width: 100%;
    height: 100vh;
    padding-bottom: 6rem;
    /* settings */
    gap: 2rem;
    text-align: center;
    font-family: "Google Sans", sans-serif;
    position: relative;
    overflow: hidden;
    /* background */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(img/header/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* arrow */
.scroll-indicator {
    position: absolute;
    bottom: 4rem;
    opacity: 0.5;
}

.arrow {
    width: 50px;
    height: auto;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.6)) invert(1);
    /* link animation */
    animation: bounce 2s infinite;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* about section */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 105vh; /* seize the 105% of the screen height */
    position: relative;
    overflow: hidden;
}

.about-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 250%; /* twice as wide */
    height: 100%;
    z-index: 0;  /* bg index */
    pointer-events: none;

    /* 5 colour gradiend repeated twice */
    background-image: repeating-linear-gradient(
        105deg,
        #FFBE0B 0vw 20vw,
        #FB5607 20vw 40vw,
        #FF006E 40vw 60vw,
        #8338EC 60vw 80vw,
        #3A86FF 80vw 100vw
    );

    /* link animation */
    animation: slideBackground 45s linear infinite;
}

.about-container {
    /* flexbox */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 70rem;
    gap: 1rem;
    margin: 1rem;

    background-color: #ffffff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 35px;
}

/* text and image */
.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 50%;
    padding: 3rem;
}

#about img {
    width: 50%;
    height: auto;
    object-fit: contain;
    padding: 1rem;
}

/* SKILLS section */
#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 65vh; /* seize the 65% of the screen height */
    /* background: linear-gradient(to bottom, #f1f2eb, #d8dad3); */
    position: relative;
    overflow: hidden;
}

/* animated background */
#skills::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(to bottom, #F8F9FA, #dddfe2, #868d92);
    animation: skillsGradientMove 5s ease infinite;
    will-change: transform;
    z-index: 0;
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 64rem;
    padding: 3rem 2rem;
    gap: 2rem;
    position: relative;
    z-index: 1;
}

/* skills section text */
.skills-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* technologies flexbox */
#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.2rem;
    padding: 0;
}

/* cards */
#skills ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-align: center;
    width: max-content;

    /* card appereance */
    padding: 0.8rem 1rem;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;

    box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.08), /* shadow */
    0 0 20px rgba(255, 255, 255, 0.1); /* glow */

    transition: box-shadow 0.15s ease, border-color 0.15s ease, transform 0.15s ease;
}

/* cards text */
#skills ul li span {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: bold;
    white-space: nowrap;
}

/* logo */
#skills img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}

/* PROJECTS section */
#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    min-height: 90vh; /* seize the 90% of the screen height */

    /* BACKGROUND */
    --s: 70px; /* control the size*/
    --c1: #3A3335;
    --c2: #D81E5B;
    --c3: #F0544F;
  
    --_g: conic-gradient(at 50% 25%,#0000 75%,var(--c1) 0);
    background:
    var(--_g),var(--_g) var(--s) var(--s),
    var(--_g) calc(2*var(--s)) calc(2*var(--s)),
    var(--_g) calc(3*var(--s)) calc(3*var(--s)),
    repeating-linear-gradient(135deg,var(--c2) 0 12.5%,var(--c3) 0 25%);
    background-size: calc(4*var(--s)) calc(4*var(--s))
}

#projects h3 {
    color: #ffffff;
    text-shadow: 0px 0px 3px #ffffff;
}

/* container */
.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 71rem;
    padding: 5rem 2rem;
    gap: 2rem;
}

/* organizer */
#projects ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    padding: 0;
}

/* project elements */
#projects ul li {
    /* flexbox */
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 28rem;
    overflow: hidden;
    position: relative;
    /* cards appereance */
    background-color: #f7f7f7;
    aspect-ratio: 3/4;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    /* link animation */
    transition: box-shadow 0.3s ease, transform 0.5s ease;
}

/* project content & details */
.project-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* link animation */
    transition: filter 0.3s ease;
}

/* project thumbnail */
.project-content img {
    width: 100%;
    height: 50%; /* half of the container's size */
    object-fit: cover;
}

/* project details */
.project-content > div {
    height: 50%; /* half of the container's size */
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* overlay container */
.project-overlay {
    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* box details */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    /* link animation */
    transition: opacity 0.3s ease;
}

/* overlay buttons */
.project-overlay a {
    /* flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    padding: 0.7rem;
    background-color: #3a3335ae;
    color: #F0544F;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    /* link animation */
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid #F0544F;
}

/* icons inside the buttons */
.project-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #F0544F; /* Color del ícono por defecto */
    
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    
    transition: background-color 0.3s ease;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 0rem 1rem;
    width: 100%;
    min-height: 65vh;
    background-color: #060606;
    color: #ffffff;

    position: relative;
    z-index: 1;
    overflow: hidden;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%; 
    aspect-ratio: 1;
    background: linear-gradient(259.53deg, #0a64ff 6.53%, #f16a1c 95.34%);
    filter: blur(10vw);
    border-radius: 50%;
    opacity: 0.6;
    z-index: -1;
    pointer-events: none;
    animation: loop 25s infinite ease; /* 90s para que sea muy lento */
}

.footer-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    max-width: 70rem;
    height: 100%;
}

#contact {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(40% - 1.2rem); /* 40% of the container's size */
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden; /* cut edges out of the corners */
}

.footer-links li {
    width: 100%;
}

.footer-links a {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
    padding: 1.4rem;
    /* color: #ffffff; */
    transition: background-color 0.2s ease, color 0.2s ease;
}

.footer-links li:nth-child(1) {background-color: #ff0000;}
.footer-links li:nth-child(1)::selection {background-color: #ff0000; color: #ffffff;}
.footer-links li:nth-child(2) {background-color: #0a66c2;}
.footer-links li:nth-child(2)::selection {background-color: #0a66c2; color: #ffffff;}
.footer-links li:nth-child(3) {background-color: #000000;}
.footer-links li:nth-child(3)::selection {background-color: #000000; color: #ffffff;}

/* SNS icons */
.social-icon {
    display: inline-block;
    width: 45px;
    height: 45px;   
    flex-shrink: 0;
    background-color: currentColor;
    mask: var(--icon) no-repeat center / contain;
    -webkit-mask: var(--icon) no-repeat center / contain;
}

/* copyright section */
.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 2rem;
    gap: 0.5rem;
    font-size: 1rem
}

.footer-bottom a {
    text-decoration: underline;
}

/* MEDIA QUERIES */
@media (max-width: 840px) {
    /* title sizes */
    h1 {font-size: 4.5rem;}
    h2 {font-size: 3rem;}
    h3 {font-size: 2.8rem;}
    h4 {font-size: 1.3rem;}

    /* about section */
    /* containers display direction */
    .about-container, #contact {
        flex-direction: column;
    }

    @media (max-width: 840px) {
    .about-bg {
        width: 500%;
        background-image: repeating-linear-gradient(
            105deg,
            #FFBE0B 0vw 40vw,
            #FB5607 40vw 80vw,
            #FF006E 80vw 120vw,
            #8338EC 120vw 160vw,
            #3A86FF 160vw 200vw
        );
        animation: slideBackgroundMobile 25s linear infinite;
    }}
    
    .about-text, #about img {
        width: 100%;
        max-height: 35rem;
    }

    /* skills */
    #skills {
        min-height: 75vh;
    }

    #skills img {
        width: 3rem;
        height: 3rem;
    }

    #skills span {
        display: none;
    }

    /* projects */
    #projects ul {
        flex-wrap: wrap;
    }

    .projects-container {
        padding: 5rem 2rem;
    }

    /* footer */
    footer {
        min-height: 100vh;
    }

    footer::before {
        width: 200%; 
        top: 20%;
        left: -80%;
        filter: blur(20vw);
    }

    .footer-container {
        padding: 0rem 2rem 0rem;
    }

    #contact {
        justify-content: center;
        gap: 2rem;
    }
    
    .footer-text,
    .footer-links {
        width: 100%;
    }
}